/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #1a1a1a; /* Warna gelap untuk sisa layar monitor */
    display: flex;
    justify-content: center; /* Bikin kerangka ada di tengah kalau dibuka di PC */
}

/* 1. Kerangka Utama (Foto Background) */
.container-utama {
    width: 100%;
    max-width: 450px; /* Ukuran standar layar HP */
    height: 100vh;
    
    /* URL Foto kamu */
    background-image: url('../img/background.jpg'); 
    background-size: cover;
    background-position: center top; 
    
    /* Flexbox untuk misahin area atas dan bawah */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Dorong elemen ke ujung atas dan ujung bawah */
    
    position: relative;
}

/* 2. Area Atas */
.area-atas {
    width: 100%;
    height: 30%; /* Makan tempat 30% dari atas */
    
    /* Garis merah cuma buat penanda kerangka */
    border: 3px dashed red; 
}

/* 3. Area Bawah */
.area-bawah {
    width: 100%;
    height: 50%; /* Makan tempat 50% dari bawah */
    
    /* Garis biru cuma buat penanda kerangka */
    border: 3px dashed blue; 
}
