/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #1a1a1a; /* Warna latar belakang monitor PC */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1. Kotak HP Utama (Background Foto) */
.main-container {
    width: 100%;
    max-width: 450px; /* Standar ukuran layar HP */
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    /* Memanggil gambar kamu di folder img */
    background-image: url('../img/background7.jpeg'); 
    background-size: cover;
    background-position: center top;
}

/* 2. Layout Blok Navy Miring Bergradasi Lembut */
.wave-overlay {
    position: absolute;
    bottom: -20px; /* Sengaja dilebihkan ke bawah sedikit agar pas nge-blur gak bocor */
    left: -20px;   /* Dilebihkan ke kiri agar efek blur menutup sempurna */
    width: 110%;   /* Diperlebar sedikit biar gak ada celah kosong di pinggir */
    height: 60%;   /* Mengambil porsi area bawah layar */
    
    /* Warna Biru Navy Pekat */
    background-color: #0b192c; 

    /* BIKIN TEBING MIRING:
       Garis miring dimulai tinggi di sebelah kiri (dada pria)
       dan menurun landai ke sebelah kanan (tangan wanita) */
    clip-path: polygon(0% 25%, 100% 55%, 100% 100%, 0% 100%);
    /* Penjelasan angka persen di atas:
       - 0% 25%   -> Sisi kiri mulainya agak atas (area dada pria)
       - 100% 55% -> Sisi kanan turun ke bawah (area tangan wanita)
       - Sanya sisanya mengunci kotak bagian bawah */

    /* BIKIN EFEK GRADASI GELOMBANG HALUS DI TEPIAN:
       Ini triknya! Kita blur tepian potongannya agar tidak kaku, 
       jadi dia membentuk gradasi halus yang menyatu sama foto */
    filter: blur(15px); 
    -webkit-filter: blur(15px);
}
